<ion-header [translucent]="true" class="unselectable">
  <ion-toolbar>
    <ion-title>
      Liste des films
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="unselectable">
  <ion-item *ngFor="let item of listefilm" class="ion-activatable ripple-parent" (click)="affDetail(item)">
    <ion-label>
      <h2>{{item.title}}</h2>
      <p>{{item.year}}</p>
    </ion-label>
    <ion-avatar>
      <img alt="Photo non contractuelle" src="{{item.posterUrl}}" />
    </ion-avatar>
  </ion-item>
</ion-content>  
